:host {
  height: 100vh;
}

p, div {
  color: white;
}

.header {
  color: white;
  font-size: 34px;
  margin: 10px 0 0 10px;
}

.line {
  grid-area: line;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #000000;
}

.main {
  font-size: 30px;
  margin: 20px 0 0 30px;

  &__box-price {
    display: flex;
    margin: 10px 0 0 60px;

    input {
      width: 80px;
      margin-left: 5px;
      padding-left: 5px;
      border-radius: 5px;
      color: #FFE600;
      background-color: rgb(52, 53, 54);
      outline: none;
      border: 1px black;
    }

    button {
      margin-left: 10px;
      padding: 2px 5px;
      border-radius: 3px;
      border: #000000 1px solid;
      background-color: rgba(34, 40, 47, 0);
      color: #FFE600;
      cursor: pointer;

      &:disabled{
        color: #313131;
        background-color: #727272;

        &:hover{
          cursor: not-allowed;
          background-color: #727272;
          border: #000000 1px solid;
        }
      }

      &:hover {
        border: #FFE600 1px solid;
      }

      &:active {
        color: black;
        background-color: #ffffff;
      }
    }
  }
}
