@import url("../../../loaders.scss");

p {
  margin: 0;
  padding: 0;
  color: white;
}

.box {
  width: 265px;
  height: 150px;
  background-color: #22282F;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin: 25px 0 0 40px;
  position: relative;

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  &__name {
    font-size: 16px;
    padding: 15px 0 0 30px;
  }

  &__price {
    font-size: 30px;
    padding: 15px 0 15px 30px;
  }

  &__24h {
    width: 60px;
    height: 25px;
    font-size: 14px;
    color: #28E824;
    background: rgba(40, 232, 36, 0.15);
    border-radius: 5px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_low {
      color: #FF1A1A;
      background: rgba(255, 26, 26, 0.15);
      font-size: 13px;
    }
  }
}
