:host {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
  z-index: 1;

  .parallelogram {
    width: 500px;
    height: 300px;
    transform: skew(20deg);
    background-color: var(--background-color-figures);
    position: absolute;
    z-index: 0;
    top: 90px;
    left: 40px;
  }

  .retro {
    width: 100px;
    height: 80px;
    background-color: var(--background-color-figures);
    border-radius: 50%/10%;
    position: absolute;
    z-index: 0;
    top: 90px;
    right: 250px;
  }

  .leaf {
    width: 200px;
    height: 200px;
    background-color: var(--background-color-figures);
    border-radius: 100% 0;
    position: absolute;
    z-index: 0;
    top: 600px;
    right: 250px;
  }

  header {
    height: 70px;
    background-color: var(--background-color-header);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;

    .header__content {
      width: 100%;
      max-width: 1440px;
      display: flex;
      align-items: center;

      .logo {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
          font-size: 14px;
          text-align: center;
        }

        &__name_yellow {
          color: var(--color-text);
          margin-bottom: 10px;
        }

        &__name_white {
          color: var(--color-white);
        }
      }

      nav {
        a {
          height: 30px;
          color: var(--color-white);
          margin: 30px 0 0 30px;
          cursor: pointer;
          text-decoration: none;
          padding-left: 10px;

          &:hover {
            color: var(--color-text);
          }
        }
      }

      .connect-wallet {
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;

        &__current-balance {
          max-width: 100%;
          height: 40px;
          background-color: var(--background-color);
          border-radius: 30px;
          position: absolute;
          right: 20px;
          padding: 0 160px 0 10px;
          display: flex;
          align-items: center;
          color: var(--color-white);

          &:after {
            content: '\00a0 BNB';
            color: var(--color-text);
          }
        }

        button {
          width: 150px;
          height: 40px;
          border-radius: 30px;
          border: 0;
          position: absolute;
          right: 20px;
          cursor: pointer;
          background-color: var(--background-color-button-connect-wallet);

          &:hover {
            background-color: var(--background-color-button-connect-wallet-hover);
          }

          &:active {
            background-color: var(--background-color-button-connect-wallet-active);
          }
        }
      }
    }
  }

  .main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 9;

    app-main {
      max-width: 1440px;
    }
  }
}

.info-save-storage {
  max-width: 1440px;
  height: 95px;
  background-color: var(--background-color);
  color: var(--color-white);
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }

  p {
    margin: 0 15px 0 15px;
  }

  button {
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: var(--color-white);
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      background-color: var(--info-button-background-color-hover);
    }

    &:active {
      background-color: var(--info-button-background-color-active);
      box-shadow: 0 0 3px 5px #888888 inset;
    }
  }
}

@media screen and (max-width: 1310px) {
  .wrapper {
    header {
      .header__content {
        .logo {
          .logo__name_white {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  .wrapper {
    header {
      .header__content {
        .nav {
          a {
            margin: 0;
            padding: 5px;
          }
        }
      }
    }

    .main {
      display: flex;
      min-height: 100%;
    }
  }
}

@media screen and (max-width: 720px) {
  .wrapper {
    header {
      .header__content {
        .logo {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .wrapper {
    header {
      .connect-wallet {
        .connect-wallet__current-balance {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    header {
      width: 100%;
      height: 50px;

      .header__content {

        .logo {
          display: none;
        }

        .nav {
          width: 100%;
          display: flex;
          justify-content: space-between;

          a {
            margin: 0;
            padding: 5px;
          }
        }

        .connect-wallet {
          button {
            width: 80%;
            margin: 0;
            padding: 5px;
          }
        }
      }
    }
  }
}
