<div class="wrapper">
  <header class="header">
    <a class="logo" href="/">
      <p class="logo__name_yellow">Bot Binance</p>
      <p class="logo__name_white">Слей последние деньги</p>
    </a>
    <div class="price">
      <p class="price__btc">BTC/USDT:</p>
      <p class="price__eth">ETH/USDT:</p>
      <p class="price__bnb">BNB/USDT:</p>
      <p class="price__doge">DOGE/USDT:</p>
      <p class="price__atom">ATOM/USDT:</p>
    </div>
    <span class="update">Update: 5s</span>
  </header>
  <div class="line"></div>
  <nav class="menu">
    <a class="menu__main menu__active"><img src="assets/nav-menu/main.svg" alt="main">Main</a>
    <a class="menu__order"><img src="assets/nav-menu/btc.svg" alt="btc">Order</a>
    <a class="menu__statistics"><img src="assets/nav-menu/graph-up.svg" alt="graph up">Statistics</a>
    <a class="menu__api"><img src="assets/nav-menu/api.svg" alt="api">API</a>
    <a class="menu__settings"><img src="assets/nav-menu/settings.svg" alt="gear">Settings</a>
  </nav>
<!--  <app-main class="main"></app-main>-->
<!--  <app-order class="main"></app-order>-->
      <app-statistics class="main"></app-statistics>
</div>
