:host {
  width: 1440px;
}

img {
  width: 250px;
  height: 250px;
  margin: 0;
}

p {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "line line"
    "nav  main";
  grid-template-rows: 60px 1px 1fr;
  grid-template-columns: 200px 1fr;


  header {
    grid-area: header;
    background-color: #22282F;
    display: flex;
    flex-basis: 200px;
    position: relative;

    .logo {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 14px;
        text-align: center;
      }

      &__name_yellow {
        color: #FFE600;
        margin-bottom: 10px;
      }

      &__name_white {
        color: #ffffff;
      }
    }

    .block {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        width: 250px;
        height: 100%;
        color: white;
        display: flex;
        align-items: center;

        span {
          color: #FFE600;
          margin-left: 5px;
        }
      }
    }
  }

  .line {
    grid-area: line;
    width: 100%;
    background-color: #000000;
  }

  .menu {
    grid-area: nav;
    background-color: #22282F;
    display: flex;
    flex-direction: column;

    a {
      height: 30px;
      color: white;
      margin: 30px 0 0 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      padding-left: 10px;

      &:hover {
        transition: .3s linear;
        margin-left: 0;
        padding-left: 50px;
        background-color: rgba(98, 98, 98, 0.4);
      }
    }

    img {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }

    .menu__active {
      height: 30px;
      margin-left: 0;
      padding-left: 40px;
      background-color: rgba(255, 230, 0, 0.8);
    }
  }

  .main {
    grid-area: main;
    background-color: #161A1E;
  }
}

.info-save-storage {
  max-width: 1440px;
  height: 95px;
  background-color: #596168;
  color: white;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }

  p {
    margin: 0 15px 0 15px;
  }

  button {
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #D9D9D9;
    margin-right: 15px;
    cursor: pointer;

    &:hover {
      background-color: #a8a8a8;
    }

    &:active {
      background-color: #676767;
      box-shadow: 0 0 3px 5px #888888 inset;
    }
  }
}
