<div class="wrapper">
  <header class="header">
    <a class="logo" href="/">
      <p class="logo__name_yellow">Bot Binance</p>
      <p class="logo__name_white">Слей последние деньги</p>
    </a>
    <nav class="nav">
      <a
        class="menu__main"
        [routerLink]="'/'"
      >Main</a>
      <a
        class="menu__order"
        [routerLink]="'/order'"
      >Order</a>
      <a
        class="menu__statistics"
        [routerLink]="'/stat'"
      >Statistics</a>
      <a
        class="menu__api"
        (click)="openDialog()">API</a>
      <a
        class="menu__settings"
        [routerLink]="'/set'"
      >Settings</a>
    </nav>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
<div class="info-save-storage" *ngIf="!isInfoSaveStorageBox">
  <img src="assets/cookie.svg" alt="cookie">
  <p>This is an example of a message that is commonly used for important information to visitors or users.
    Please click the button beside to close this message.</p>
  <button (click)="closeInfoBox()">Accept</button>
</div>

