section {
  background: rgba(135, 135, 135, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 10px 10px 5px 10px;
  position: relative;

  p {
    width: 14%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #FFE600;

  }

  div {
    width: 15px;
    height: 50px;
    background-color: #28E824;
    border-radius: 50px 0 0 50px;
  }

  .symbol {
    font-size: 16px;
    margin-left: 5px;
  }

  .current-Price {
  }

  .entry-Price {
    color: white;
  }

  .amount {
  }

  .pnl {
  }

  button {
    width: 12%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: #FFE600;
    color: black;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 230, 0, 0.8);
    }

    &:active {
      background-color: rgba(255, 230, 0, 0.6);

    }
  }
  .green {
    color: #28E824;
  }

  .red {
    color: #F90404;
  }
}
