<article class="wrapper">
  <section class="header">
    <p class="header__name">Symbol</p>
    <p>Price</p>
    <p>Buy</p>
    <p>Liquidation</p>
    <p class="header__amount">Amount</p>
    <p class="header__pnl">PNL</p>
    <button class="header__button-close" (click)="orderService.closeAllCurrentsOrders()">Close all</button>
  </section>
  <section class="main">
    <div *ngFor="let currentToken of allCurrentToken;">
      <app-order-row
        [symbol]="currentToken.symbol"
        [markPrice]="currentToken.markPrice"
        [entryPrice]="currentToken.entryPrice"
        [liquidationPrice]="currentToken.liquidationPrice"
        [amount]="currentToken.positionAmt"
        [pnl]="currentToken.unRealizedProfit">
      </app-order-row>
    </div>
  </section>
  <form class="form">
    <input type="text" name="symbol"
           placeholder="BNBUSDT" [(ngModel)]="symbolToken"
           (ngModelChange)="symbolToken = $event.toUpperCase()">
    <input type="number" name="price" placeholder="Price" [(ngModel)]="priceToken">
    <input type="number" name="amount"
           placeholder="Amount Token" [(ngModel)]="quantityToken">
    <input type="number" name="amount_orders" id="amount_orders"
           placeholder="Amount Orders" [(ngModel)]="quantityOrders">
    <div class="form__button">
      <button class="buy" (click)="newOrder(symbolToken, 'BUY', quantityToken, 'LIMIT', priceToken)">BUY
      </button>
      <button class="sell">SELL</button>
    </div>
  </form>
  <section class="info-order" *ngIf="isInfoOrderBox" [class.info-order_red-box-shadow]="infoText.length > 10"
           [class.info-order_green-box-shadow]="infoText.length < 10">
    <p>{{infoText}}</p>
    <img src="assets/close.svg" alt="X" (click)="isInfoOrderBox=false">
  </section>
</article>
