@import url("../../../loaders.scss");

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:host {
  max-width: 1440px;
  width: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  align-items: stretch;
  grid-template-areas:
    "header aside"
    "main aside";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 80% 20%;
  background: url(../../../assets/background-order.png) no-repeat center center fixed;
  background-size: cover;
  position: relative;

  .header {
    margin: 0 0 0 25px;
    display: flex;
    align-items: center;
    position: relative;
    grid-area: header;

    p {
      width: 14%;
      font-size: 14px;
      color: white;
      display: flex;
      justify-content: center;
    }

    &__name {
    }

    &__amount {
    }

    &__pnl {
    }

    &__button-close {
      width: 26%;
      height: 35px;
      border-radius: 5px;
      border: 0;
      color: black;
      background-color: #F90404;
      font-weight: 600;
      cursor: pointer;

    }

    &__button-close:hover {
      background-color: rgba(249, 4, 4, 0.8);
    }

    &__button-close:active {
      background-color: rgba(249, 4, 4, 0.6);
    }
  }

  .main {
    grid-area: main;
  }

  .example-form {
    grid-area: aside;
    background-color: #22282F;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

    mat-slide-toggle {
      margin-bottom: 20px;
      color: white;
    }

    mat-button-toggle-group {
      width: 80%;
      margin-bottom: 20px;

      mat-button-toggle {
        width: 100%;
      }
    }

    mat-form-field {
      width: 80%;

      input {
        color: #eaeaea;
      }
    }

    .primary {

    }
  }
}

@media screen and (max-width: 970px) {
  .wrapper {
    display: flex;
    flex-direction: column;

    .header {
      margin: 0;
      padding: 5px 15px;
    }

    .main {
      margin: 0;
      padding: 20px 10px;
    }

    .example-form {
      display: flex;
      padding: 20px;
      background-color: rgba(22, 26, 30, 0.07);
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    .header {
      p {
        display: none;
      }
    }

    .main {
    }
  }
}
