:host {
  background-color: #161A1E;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.chart {
  margin: 50px;
}

@media screen and (max-width: 770px) {
  .chart {
    margin: 0;
  }
}
